.root {
  display: flex;
  flex-direction: column;
  color: var(--dsw-alias-label-primary);
  font-size: 16px;
  line-height: 28px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stopped {
  align-self: flex-start;
  padding: 0 6px;
  border-radius: 6px;
  background: var(--dsw-alias-interactive-bg-hover);
  color: var(--dsw-alias-label-tertiary);
  font-size: 11px;
  line-height: 18px;
}
